@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Courgette);
@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  100% {
    transform: none; } }

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  100% {
    transform: none; } }

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(10px, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(10px, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

@-webkit-keyframes attentionFlash {
  0%, 50%, 100% {
    text-shadow: 0px 0px 0px tomato; }
  25%, 75% {
    text-shadow: 0px 0px 5px tomato; } }

@keyframes attentionFlash {
  0%, 50%, 100% {
    text-shadow: 0px 0px 0px tomato; }
  25%, 75% {
    text-shadow: 0px 0px 5px tomato; } }

/* line 94, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
body {
  margin: 0; }

/* line 98, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
.map-mode .fa-arrow-circle-left {
  display: none; }

/* line 101, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
.article-mode .fa-arrow-circle-left {
  position: fixed;
  font-size: 36px;
  top: 10px;
  left: 10px; }

/* line 107, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
.canvas-title {
  font-family: Courgette, cursive;
  padding-left: 50px;
  color: #209ada;
  border-bottom: 5px solid #209ada;
  margin: 0;
  position: fixed;
  transition: opacity 1s ease-out, transform 1s ease-out;
  -webkit-animation: bounceInLeft 1s;
  animation: bounceInLeft 1s;
  top: 20px;
  left: -30px;
  z-index: 101; }
  /* line 122, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
  .article-mode .canvas-title {
    z-index: -1;
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }

/* line 128, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
canvas {
  position: fixed;
  top: 0;
  z-index: 100; }
  /* line 132, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
  .article-mode canvas {
    z-index: -1; }

/* line 135, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
article {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  font-family: Oxygen; }
  @media (max-width: 1200px) {
    /* line 135, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
    article {
      max-width: 530px; } }
  @media (max-width: 1024px) {
    /* line 135, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
    article {
      max-width: 450px; } }
  @media (max-width: 850px) {
    /* line 135, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
    article {
      max-width: 550px; } }
  @media (max-width: 550px) {
    /* line 135, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
    article {
      max-width: 90%; } }

/* line 153, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
p {
  line-height: 1.5; }

/* line 156, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
.thumb {
  position: absolute; }
  /* line 159, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
  .thumb .thumbinner {
    width: auto !important; }
  /* line 162, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
  .thumb img {
    height: auto;
    max-width: 260px; }
    @media (max-width: 1200px) {
      /* line 162, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
      .thumb img {
        max-width: 200px; } }
    @media (max-width: 1024px) {
      /* line 162, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
      .thumb img {
        max-width: 150px; } }
  /* line 172, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
  .thumb.tright {
    left: 105%;
    padding-left: 10px;
    border-left: 1px solid black; }
  /* line 177, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
  .thumb.tleft {
    right: 105%;
    padding-right: 10px;
    border-right: 1px solid black; }
  @media (max-width: 850px) {
    /* line 156, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
    .thumb {
      max-width: 200px;
      margin: 10px; }
      /* line 187, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
      .thumb.tright {
        float: right; }
      /* line 190, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
      .thumb.tleft {
        float: left; } }
  @media (max-width: 550px) {
    /* line 156, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
    .thumb {
      max-width: 100%;
      margin: 0px;
      padding-bottom: 10px;
      border-bottom: 1px solid #000;
      margin-bottom: 10px;
      text-align: center; }
      /* line 201, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
      .thumb.tright {
        float: none;
        border-left: none; }
      /* line 205, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
      .thumb.tleft {
        float: none;
        border-right: none; } }

/* line 209, /Users/Chris/Development/NextGenLessons/MonsoonMarketplace/css/style.sass */
.flashy {
  -webkit-animation: attentionFlash 2s ease-in-out 1.5s;
  animation: attentionFlash 2s ease-in-out 1.5s; }

/*# sourceMappingURL=style.css.map */